Repository grafana/x-ray-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

Add start time to response (#286)
  pkg/datasource/datasource_test.go
  pkg/datasource/getTraceSummaries.go
  src/XRayDataSource.test.ts
  tests/query-editor.spec.ts
Due: frontend-lint, backend-format

Remove types for testing-library__jest-dom
  package.json
  yarn.lock
Due: none

Bumps the all-node-dependencies group with 19 updates (#289)
  package.json
  yarn.lock
Due: none

Prepare 2.12.0
  CHANGELOG.md
  package.json
Due: none

Prepare 2.12.0 (#290)
  CHANGELOG.md
  package.json
Due: none

automated release 2.12.0
  dist/plugin.json
Due: none

Migrate to plugin-ui
  package.json
  src/components/QueryEditor/AccountIdDropdown.tsx
  src/components/QueryEditor/QueryEditorForm.tsx
  src/components/QueryEditor/QuerySection.tsx
  yarn.lock
Due: frontend-lint

Add PDC support
  package.json
  src/components/ConfigEditor/ConfigEditor.tsx
  yarn.lock
Due: frontend-lint

Add PDC support (#282)
  package.json
  src/components/ConfigEditor/ConfigEditor.tsx
  yarn.lock
Due: frontend-lint

Replace @grafana/experimental with @grafana/plugin-ui (#292)
  package.json
  src/components/QueryEditor/AccountIdDropdown.tsx
  src/components/QueryEditor/QueryEditorForm.tsx
  src/components/QueryEditor/QuerySection.tsx
  yarn.lock
Due: frontend-lint

Prepare 2.13.0 release
  CHANGELOG.md
  package.json
Due: none

update changelog
  CHANGELOG.md
Due: none

Prepare 2.13.0 release (#294)
  CHANGELOG.md
  package.json
Due: none

automated release 2.13.0
  dist/plugin.json
Due: none

wip
  .github/workflows/pr.yml
Due: none

Update readme
  README.md
Due: none

Update readme to include info on Compatibility (#301)
  README.md
Due: none

Chore: update e2e tests workflow
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  docker-compose.yaml
Due: none

Prepare 2.13.1
  CHANGELOG.md
  package.json
Due: none

Prepare 2.13.1 (#304)
  CHANGELOG.md
  package.json
Due: none

automated release 2.13.1
  dist/plugin.json
Due: none

Update for aws-sdk-go-v2
  cspell.config.json
  go.mod
  go.sum
  pkg/client/client.go
  pkg/datasource/CheckHealth.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/getAccounts.go
  pkg/datasource/getAnalytics.go
  pkg/datasource/getAnalytics_test.go
  pkg/datasource/getGroups.go
  pkg/datasource/getInsights.go
  pkg/datasource/getRegions.go
  pkg/datasource/getServiceMap.go
  pkg/datasource/getTimeSeriesServiceStatistics.go
  pkg/datasource/getTrace.go
  pkg/datasource/getTraceSummaries.go
Due: backend-format

Replace StringValue and TimeValue properly
  pkg/datasource/getInsights.go
Due: backend-format

Chore: update e2e tests workflow (#303)
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  docker-compose.yaml
Due: none

Bump the all-go-dependencies group across 1 directory with 3 updates (#307)
  go.mod
  go.sum
Due: none

Chore: add label to external contributions
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
Due: none

Update github.com/grafana/grafana-plugin-sdk-go to v0.265.0
  go.mod
  go.sum
Due: none

Update github.com/grafana/grafana-plugin-sdk-go to v0.265.0 (#313)
  go.mod
  go.sum
Due: none

Prepare release 2.13.2
  CHANGELOG.md
  package.json
Due: none

Prepare release 2.13.2 (#316)
  CHANGELOG.md
  package.json
Due: none

automated release 2.13.2
  dist/plugin.json
Due: none

Chore: add label to external contributions (#310)
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
Due: none

wip: add listServices query
  cspell.config.json
  src/components/QueryEditor/QueryEditor.tsx
  src/components/QueryEditor/QueryEditorForm.tsx
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useGroups.ts
  src/components/QueryEditor/useInitQuery.ts
  src/types.ts
Due: frontend-lint

Isabella comments
  cspell.config.json
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/getAnalytics_test.go
  pkg/datasource/getServiceMap.go
Due: backend-format

Update for grafana-aws-sdk new style v2 authentication
  cspell.config.json
  go.mod
  go.sum
  pkg/client/client.go
Due: backend-format

Fix two region handling issues
  go.mod
  pkg/client/client.go
  pkg/datasource/getRegions.go
  pkg/datasource/getRegions_test.go
  src/components/QueryEditor/useRegions.ts
Due: frontend-lint, backend-format

update tests
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryEditor.tsx
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useAccountIds.ts
  src/components/QueryEditor/useGroups.ts
  src/components/QueryEditor/useInitQuery.ts
Due: frontend-lint

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
