Repository grafana/x-ray-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      run: yarn cspell -c cspell.config.json \"**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}\" {staged_files}

fix: size artificial parent spans to cover their child spans
  src/utils/transform.test.ts
  src/utils/transform.ts
Due: frontend-lint

Add add-to-project workflow and remove issue_commands (#703)
  .github/workflows/add-to-project.yml
  .github/workflows/issue_commands.yml
Due: none

chore: use shared data-sources Renovate base preset
  .github/renovate.json
Due: none

chore: use shared data-sources Renovate base preset (#708)
  .github/renovate.json
Due: none

ci: add stale issue and PR workflow
  .github/workflows/stale.yml
Due: none

Update workflow names to be consistent
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Update workflow names to be consistent (#710)
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

ci: add stale issue and PR workflow (#709)
  .github/workflows/stale.yml
Due: none

Chore: package manager migration from yarn to npm
  .gitignore
  .npmrc
  .trufflehogignore
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  cspell.config.json
  lefthook.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

ci: use shared reusable stale workflow
  .github/workflows/stale.yml
Due: none

ci: use shared reusable add-to-project workflow
  .github/workflows/add-to-project.yml
Due: none

ci: use shared reusable stale workflow (#712)
  .github/workflows/stale.yml
Due: none

ci: use shared reusable add-to-project workflow (#713)
  .github/workflows/add-to-project.yml
Due: none

Bump grafana/* dependencies
  cspell.config.json
  jest.config.js
  package.json
  yarn.lock
Due: frontend-lint

Bump grafana/* dependencies (#714)
  cspell.config.json
  jest.config.js
  package.json
  yarn.lock
Due: frontend-lint

Bump dependencies
  go.mod
  go.sum
  package.json
  yarn.lock
Due: none

Bump dependencies (#715)
  go.mod
  go.sum
  package.json
  yarn.lock
Due: none

add webpack config
  package.json
  webpack.config.ts
Due: frontend-lint

latest schema version
  pkg/schema/dsconfig.json
  pkg/schema/schema.gen.json
  pkg/schema/settings.examples.gen.json
  pkg/schema/settings.gen.json
Due: none

Fix out of SLO CVEs
  yarn.lock
Due: none

Fixed failing e2e test
  tests/query-editor.spec.ts
Due: frontend-lint

Fix out of SLO CVEs (#721)
  tests/query-editor.spec.ts
  yarn.lock
Due: frontend-lint

Prepare release
  CHANGELOG.md
  package.json
Due: none

Fixed typo
  cspell.config.json
Due: none

Prepare release (#722)
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

Forward per-datasource Grafana external ID into awsauth.Settings
  go.mod
  go.sum
  pkg/client/client.go
  pkg/client/client_test.go
Due: backend-format

fix cspell
  cspell.config.json
Due: none

Bump @grafana/aws-sdk to 0.12.1 for namespace external ID fallback
  package.json
  yarn.lock
Due: none

fix(getServiceMap): fall back to Default group when Group is nil
  pkg/datasource/datasource_test.go
  pkg/datasource/getServiceMap.go
Due: backend-format

schema docs
  CONTRIBUTING.md
Due: none

cspell
  cspell.config.json
Due: none

test: add X-Ray Cloud E2E coverage
  .github/workflows/cron.yml
  .github/workflows/push.yml
  CONTRIBUTING.md
  playwright.config.ts
  playwright.smoke.config.ts
  tests/config-editor.spec.ts
  tests/query-editor.spec.ts
Due: frontend-lint

ci: align scheduled cloud e2e workflow
  .github/workflows/cron.yml
Due: none

test: add X-Ray Cloud E2E coverage (#724)
  .github/workflows/cron.yml
  .github/workflows/push.yml
  CONTRIBUTING.md
  playwright.config.ts
  playwright.smoke.config.ts
  tests/config-editor.spec.ts
  tests/query-editor.spec.ts
Due: frontend-lint

chore: use npm as package manager
  .github/workflows/cron.yml
  .gitignore
  .npmrc
  .trufflehogignore
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  cspell.config.json
  lefthook.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

chore: pin node 24.19.0 and regenerate package-lock
  .nvmrc
  package-lock.json
Due: none

fix(ci): prepare scheduled Cloud E2E
  .github/workflows/cron.yml
  package.json
  yarn.lock
Due: none

test(e2e): stabilize X-Ray Cloud coverage
  tests/config-editor.spec.ts
  tests/query-editor.spec.ts
Due: frontend-lint

ci: update deployment workflow reference
  .github/workflows/push.yml
Due: none
