Repository grafana/x-ray-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

Use yarn command
  lefthook.yml
Due: none

Add go.mod to spellcheck ignore
  cspell.config.json
Due: none

Use yarn instead of cspell for precommit hook (#246)
  cspell.config.json
  lefthook.yml
Due: none

Sort parent spans
  src/utils/transform.test.ts
  src/utils/transform.ts
Due: frontend-lint

Prepare v2.10.1 release
  CHANGELOG.md
  go.mod
  go.sum
  package.json
Due: none

Spellcheck... again
  cspell.config.json
Due: none

nolint deprecation warning
  pkg/datasource/getAccounts.go
  pkg/datasource/getGroups.go
Due: backend-format

chore: add errorsource
  pkg/client/client.go
  pkg/datasource/configuration.go
  pkg/datasource/datasource.go
  pkg/datasource/getAnalytics.go
  pkg/datasource/getGroups.go
  pkg/datasource/getInsights.go
  pkg/datasource/getServiceMap.go
  pkg/datasource/getTimeSeriesServiceStatistics.go
  pkg/datasource/getTrace.go
  pkg/datasource/getTraceSummaries.go
Due: backend-format

chore: add "errorsource" to wordlist
  cspell.config.json
Due: none

Update changelong after rebase
  CHANGELOG.md
Due: none

Add errorsource and prepare 2.10.1 release (#245)
  CHANGELOG.md
  cspell.config.json
  go.mod
  go.sum
  package.json
  pkg/client/client.go
  pkg/datasource/configuration.go
  pkg/datasource/datasource.go
  pkg/datasource/getAccounts.go
  pkg/datasource/getAnalytics.go
  pkg/datasource/getGroups.go
  pkg/datasource/getInsights.go
  pkg/datasource/getServiceMap.go
  pkg/datasource/getTimeSeriesServiceStatistics.go
  pkg/datasource/getTrace.go
  pkg/datasource/getTraceSummaries.go
Due: backend-format

automated release 2.10.1
  dist/plugin.json
Due: none

Update plugin name to match Amazon convention
  src/plugin.json
Due: none

Update plugin name to match Amazon convention (#247)
  src/plugin.json
Due: none

Add dependabot for grafana/plugin-sdk-go
  .github/dependabot.yml
Due: none

Add dependabot for grafana/plugin-sdk-go (#248)
  .github/dependabot.yml
Due: none

update keywords
  src/plugin.json
Due: none

Chore: Update plugin.json keywords (#250)
  src/plugin.json
Due: none

Chore: bump dependencies
  cspell.config.json
  go.mod
  go.sum
Due: none

Chore: bump dependencies (#251)
  cspell.config.json
  go.mod
  go.sum
Due: none

dependabot PR needed 'go mod tidy'
  go.mod
Due: none

Chore: update dependabot config
  .github/dependabot.yml
Due: none

Chore: update dependabot config (#254)
  .github/dependabot.yml
Due: none

go mod tidy
  go.mod
Due: none

noop
  .github/workflows/ci.yml
Due: none

fix dependabot config
  .github/dependabot.yml
Due: none

npx create-plugin upgrade
  .config/.cprc.json
  .config/.eslintrc
  .config/README.md
  .config/jest-setup.js
  .config/jest.config.js
  .config/tsconfig.json
  .config/webpack/BuildModeWebpackPlugin.ts
  .config/webpack/publicPath.ts
  .config/webpack/webpack.config.ts
  .github/dependabot.yml
  .prettierrc.js
  cspell.config.json
  eslint.config.mjs
  package.json
  src/XRayDataSource.test.ts
  src/utils/transform.ts
  yarn.lock
Due: frontend-lint

bump react
  package.json
  yarn.lock
Due: none

Prepare release 2.11.0
  CHANGELOG.md
  package.json
Due: none

Prepare release 2.11.0 (#278)
  CHANGELOG.md
  package.json
Due: none

automated release 2.11.0
  dist/plugin.json
Due: none

Add PDC support
  package.json
  src/components/ConfigEditor/ConfigEditor.tsx
  yarn.lock
Due: frontend-lint

Remove types for testing-library__jest-dom
  package.json
  yarn.lock
Due: none

Add start time to response
  pkg/datasource/getTraceSummaries.go
  src/XRayDataSource.test.ts
Due: frontend-lint, backend-format

Adjust test
  pkg/datasource/datasource_test.go
Due: backend-format

Add start time to e2e test
  tests/query-editor.spec.ts
Due: frontend-lint

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
