Repository grafana/x-ray-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      run: yarn cspell -c cspell.config.json \"**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}\" {staged_files}

Actions: Do not use hashes for grafana/ actions (#352)
  .github/workflows/e2e-tests.yml
Due: none

Prepare 2.14.0
  CHANGELOG.md
  package.json
Due: none

Spellcheck
  cspell.config.json
Due: none

Prepare 2.14.0 (#353)
  CHANGELOG.md
  cspell.config.json
  package.json
Due: none

automated release 2.14.0
  dist/plugin.json
Due: none

Implement listServiceDependencies
  pkg/datasource/consts.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/listServiceDependencies.go
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/types.ts
Due: frontend-lint, backend-format

Chore: migrate to github actions for publishing
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Update for grafana-aws-sdk new style v2 authentication
  cspell.config.json
  go.mod
  go.sum
  pkg/client/client.go
  pkg/datasource/getAnalytics_test.go
  pkg/datasource/getRegions.go
  pkg/datasource/getRegions_test.go
  pkg/datasource/getServiceMap.go
  src/components/QueryEditor/useRegions.ts
Due: frontend-lint, backend-format

Update for grafana-aws-sdk new style v2 authentication (#336)
  cspell.config.json
  go.mod
  go.sum
  pkg/client/client.go
  pkg/datasource/getAnalytics_test.go
  pkg/datasource/getRegions.go
  pkg/datasource/getRegions_test.go
  pkg/datasource/getServiceMap.go
  src/components/QueryEditor/useRegions.ts
Due: frontend-lint, backend-format

Implement list service level objectives query
  pkg/datasource/consts.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/getOperations.go
  pkg/datasource/listServiceLevelObjectives.go
  src/XRayDataSource.ts
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useOperations.ts
  src/types.ts
Due: frontend-lint, backend-format

Fix test
  src/components/QueryEditor/QueryEditor.test.tsx
Due: frontend-lint

App Signals: Implement ListServiceDependencies (#356)
  pkg/datasource/consts.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/listServiceDependencies.go
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/types.ts
Due: frontend-lint, backend-format

Small fixes
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useOperations.ts
Due: frontend-lint

Fix test
  src/components/QueryEditor/ServiceQueryEditor.tsx
Due: frontend-lint

App Signals: Implement List Service Level Objectives query (#361)
  pkg/client/client.go
  pkg/datasource/consts.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/getAnalytics_test.go
  pkg/datasource/getOperations.go
  pkg/datasource/listServiceLevelObjectives.go
  src/XRayDataSource.ts
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useOperations.ts
  src/types.ts
Due: frontend-lint, backend-format

Prepare 2.15.0
  CHANGELOG.md
  package.json
Due: none

Remove feature toggle
  src/components/QueryEditor/QueryHeader.tsx
Due: frontend-lint

Remove xrayApplicationSignals toggle and prepare 2.15.0 (#364)
  CHANGELOG.md
  package.json
  src/components/QueryEditor/QueryHeader.tsx
Due: frontend-lint

Chore: Migrate to Github actions
  .github/workflows/publish.yml
  .github/workflows/push.yml
  .gitignore
  CONTRIBUTING.md
  cspell.config.json
  pkg/datasource/getAnalytics.go
  src/components/QueryEditor/QueryHeader.tsx
Due: frontend-lint, backend-format

Fix switch case
  pkg/datasource/getAnalytics.go
Due: backend-format

Chore: Migrate to Github actions (#370)
  .github/workflows/publish.yml
  .github/workflows/push.yml
  .gitignore
  CONTRIBUTING.md
  cspell.config.json
  pkg/datasource/getAnalytics.go
  src/components/QueryEditor/QueryHeader.tsx
Due: frontend-lint, backend-format

Add support for auto-merging dependabot updates,
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/e2e-tests.yml
  package.json
  yarn.lock
Due: none

wip: working variables and queries!
  pkg/datasource/listServiceLevelObjectives.go
  src/XRayDataSource.ts
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useInitQuery.ts
  src/variables.ts
Due: frontend-lint, backend-format

wip
  src/XRayDataSource.ts
  src/components/QueryEditor/AccountIdDropdown.tsx
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useAccountIds.ts
  src/components/VariableEditor.tsx
  src/components/utils.ts
  src/types.ts
  src/variables.ts
Due: frontend-lint

wip: template variables all working together
  pkg/datasource/listServiceDependencies.go
  pkg/datasource/listServiceLevelObjectives.go
  pkg/datasource/listServiceOperations.go
  src/XRayDataSource.ts
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useAccountIds.ts
  src/components/QueryEditor/useOperations.ts
  src/components/QueryEditor/useRegions.ts
  src/components/QueryEditor/useServices.ts
  src/components/VariableEditor.tsx
  src/components/utils.ts
  src/types.ts
  src/variables.ts
Due: frontend-lint, backend-format

cleanup test errors
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/useError.tsx
Due: frontend-lint

fix go tests
  pkg/datasource/datasource_test.go
Due: backend-format

ida comments
  pkg/datasource/datasource_test.go
  src/XRayDataSource.ts
  src/components/QueryEditor/ServiceQueryEditor.tsx
Due: frontend-lint, backend-format

Add variable editor for service variables (#373)
  pkg/datasource/datasource_test.go
  pkg/datasource/listServiceDependencies.go
  pkg/datasource/listServiceLevelObjectives.go
  pkg/datasource/listServiceOperations.go
  src/XRayDataSource.ts
  src/components/QueryEditor/AccountIdDropdown.tsx
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useAccountIds.ts
  src/components/QueryEditor/useError.tsx
  src/components/QueryEditor/useInitQuery.ts
  src/components/QueryEditor/useOperations.ts
  src/components/QueryEditor/useRegions.ts
  src/components/QueryEditor/useServices.ts
  src/components/VariableEditor.tsx
  src/components/utils.ts
  src/types.ts
  src/variables.ts
Due: frontend-lint, backend-format

Service Queries: Update queries to have dashboard info
  pkg/datasource/datasource_test.go
  pkg/datasource/listServiceDependencies.go
  pkg/datasource/listServiceOperations.go
  pkg/datasource/listServices.go
Due: backend-format

add cooldown for github actions ecosystem
  .github/dependabot.yml
Due: none

Add dimensionKeys for services
  pkg/datasource/datasource_test.go
  pkg/datasource/listServices.go
Due: backend-format

exclude grafana dependencies from cooldown
  .github/dependabot.yml
Due: none

Add app signals dashboard
  src/dashboards/xray-app-signals.json
  src/plugin.json
Due: none

remove unnecessary fields
  pkg/datasource/datasource_test.go
  pkg/datasource/listServiceDependencies.go
  pkg/datasource/listServices.go
Due: backend-format
