Repository grafana/x-ray-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      run: yarn cspell -c cspell.config.json \"**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}\" {staged_files}

update naming
  src/XRayDataSource.ts
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryEditor.tsx
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/QuerySection.tsx
  src/components/QueryEditor/XRayQueryEditor.tsx
  src/components/QueryEditor/useInitQuery.ts
  src/types.ts
Due: frontend-lint

Update for grafana-aws-sdk new style v2 authentication (#331)
  cspell.config.json
  go.mod
  go.sum
  pkg/client/client.go
  pkg/datasource/getRegions.go
  pkg/datasource/getRegions_test.go
  src/components/QueryEditor/useRegions.ts
Due: frontend-lint, backend-format

implement support to auto convert w3c trace format to xray trace format (#184)
  pkg/datasource/datasource_test.go
  pkg/datasource/getTrace.go
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryEditorForm.tsx
Due: frontend-lint, backend-format

Auto convert w3c trace format (#184) (#332)
  pkg/datasource/datasource_test.go
  pkg/datasource/getTrace.go
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryEditorForm.tsx
Due: frontend-lint, backend-format

Revert "Update for grafana-aws-sdk new style v2 authentication (#331)"
  cspell.config.json
  go.mod
  go.sum
  pkg/client/client.go
  pkg/datasource/getRegions.go
  pkg/datasource/getRegions_test.go
  src/components/QueryEditor/useRegions.ts
Due: frontend-lint, backend-format

Update for aws-sdk-go-v2 (#305)
  cspell.config.json
  go.mod
  go.sum
  pkg/client/client.go
  pkg/datasource/CheckHealth.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/getAccounts.go
  pkg/datasource/getAnalytics.go
  pkg/datasource/getAnalytics_test.go
  pkg/datasource/getGroups.go
  pkg/datasource/getInsights.go
  pkg/datasource/getRegions.go
  pkg/datasource/getServiceMap.go
  pkg/datasource/getTimeSeriesServiceStatistics.go
  pkg/datasource/getTrace.go
  pkg/datasource/getTraceSummaries.go
Due: backend-format

wip: add listServices query
  cspell.config.json
  src/components/QueryEditor/QueryEditor.tsx
  src/components/QueryEditor/QueryEditorForm.tsx
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useGroups.ts
  src/components/QueryEditor/useInitQuery.ts
  src/types.ts
Due: frontend-lint

update tests
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryEditor.tsx
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useAccountIds.ts
  src/components/QueryEditor/useGroups.ts
  src/components/QueryEditor/useInitQuery.ts
Due: frontend-lint

WIP: backend listServices
  cspell.config.json
  go.mod
  go.sum
  pkg/client/client.go
  pkg/datasource/consts.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/getAccounts_test.go
  pkg/datasource/getAnalytics_test.go
  pkg/datasource/getRegions_test.go
  pkg/datasource/listServices.go
Due: backend-format

cleaned up
  pkg/datasource/listServices.go
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/types.ts
Due: frontend-lint, backend-format

Update for aws-sdk-go-v2
  pkg/datasource/getAnalytics_test.go
  pkg/datasource/getServiceMap.go
Due: backend-format

Isabella comments
  pkg/datasource/getAnalytics_test.go
Due: backend-format

Update for grafana-aws-sdk new style v2 authentication
  cspell.config.json
  go.mod
  go.sum
  pkg/client/client.go
  pkg/datasource/getRegions.go
  pkg/datasource/getRegions_test.go
  src/components/QueryEditor/useRegions.ts
Due: frontend-lint, backend-format

cleaned up
  pkg/datasource/datasource.go
  pkg/datasource/listServices.go
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/types.ts
Due: frontend-lint, backend-format

spellcheck
  pkg/datasource/listServices.go
Due: backend-format

fix test
  src/components/QueryEditor/QueryEditor.test.tsx
Due: frontend-lint

update for ida comments
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/useInitQuery.ts
Due: frontend-lint

add feature toggle
  src/components/QueryEditor/QueryHeader.tsx
Due: frontend-lint

Create App Signals dropdown and ListServices query (#338)
  cspell.config.json
  go.mod
  go.sum
  pkg/client/client.go
  pkg/datasource/consts.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/getAccounts_test.go
  pkg/datasource/getAnalytics_test.go
  pkg/datasource/getRegions_test.go
  pkg/datasource/listServices.go
  src/XRayDataSource.ts
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryEditor.tsx
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/QuerySection.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/XRayQueryEditor.tsx
  src/components/QueryEditor/useAccountIds.ts
  src/components/QueryEditor/useInitQuery.ts
  src/types.ts
Due: frontend-lint, backend-format

Update github actions files
  .github/workflows/e2e-tests.yml
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

add command permissions
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

Update github actions files (#345)
  .github/workflows/e2e-tests.yml
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

use vault for e2e secrets
  .github/workflows/e2e-tests.yml
Due: none

use vault token instead of github
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

add zizmor file
  .github/zizmor.yml
Due: none

use vault for e2e secrets (#346)
  .github/workflows/e2e-tests.yml
Due: none

add main
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

Implement listServiceOperations
  pkg/datasource/consts.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/getServices.go
  pkg/datasource/getServices_test.go
  pkg/datasource/listServiceOperations.go
  src/XRayDataSource.ts
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useServices.ts
  src/types.ts
Due: frontend-lint, backend-format

use vault token instead of github (#348)
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
  .github/zizmor.yml
Due: none

add zizmore ignore rule
  .github/workflows/pr-commands.yml
  cspell.config.json
Due: none

add zizmore ignore rule (#350)
  .github/workflows/pr-commands.yml
  cspell.config.json
Due: none

Update src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryEditor.test.tsx
Due: frontend-lint

Implement listServiceOperations (#349)
  pkg/datasource/consts.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/getServices.go
  pkg/datasource/getServices_test.go
  pkg/datasource/listServiceOperations.go
  src/XRayDataSource.ts
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/ServiceQueryEditor.tsx
  src/components/QueryEditor/useServices.ts
  src/types.ts
Due: frontend-lint, backend-format

add token permissions
  .github/workflows/e2e-tests.yml
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

Formatting
  .github/workflows/e2e-tests.yml
Due: none

Fix contents
  .github/workflows/issue_commands.yml
Due: none

Github actions: Add token permissions (#351)
  .github/workflows/e2e-tests.yml
  .github/workflows/issue_commands.yml
  .github/workflows/pr-commands.yml
Due: none

Add mock
  jest-setup.js
Due: frontend-lint

Dont use hashed for grafana actions
  .github/workflows/e2e-tests.yml
Due: none
