Repository grafana/x-ray-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: '*.{js,ts,tsx}'
      run: |
        eslint --cache --ignore-path ./.gitignore --fix {staged_files}
        yarn prettier --write {staged_files}
      stage_fixed: true
    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    spellcheck:
      run: yarn cspell -c cspell.config.json \"**/*.{ts,tsx,js,go,md,mdx,yml,yaml,json,scss,css}\" {staged_files}

Chore: Use npm as package manager (#725)
  .github/workflows/cron.yml
  .github/workflows/push.yml
  .gitignore
  .npmrc
  .nvmrc
  .trufflehogignore
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  cspell.config.json
  lefthook.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

fix(ci): run the scheduled Cloud E2E commands Bench can parse
  .github/workflows/cron.yml
  package.json
Due: none

test(e2e): stabilize the Cloud specs on the shared instance
  tests/config-editor.spec.ts
  tests/query-editor.spec.ts
Due: frontend-lint

ci(e2e): notify Slack when the nightly Cloud run fails
  .github/workflows/cron.yml
Due: none

fix(getServiceMap): fall back to Default group when Group is nil
  pkg/datasource/datasource_test.go
  pkg/datasource/getServiceMap.go
Due: backend-format

Trace Statistics: scope by GroupName/ARN instead of injecting FilterExpression
  pkg/datasource/datasource_test.go
  pkg/datasource/getTimeSeriesServiceStatistics.go
  src/XRayDataSource.test.ts
  src/XRayDataSource.ts
Due: frontend-lint, backend-format

test(e2e): drop the openExploreQuery wrapper
  tests/query-editor.spec.ts
Due: frontend-lint

test(e2e): bump plugin-e2e to 3.12.0 and probe the panel editor on Cloud
  package-lock.json
  package.json
  tests/panel-edit.spec.ts
Due: frontend-lint

test(e2e): move the query specs back to the panel editor
  tests/panel-edit.spec.ts
  tests/query-editor.spec.ts
Due: frontend-lint

revert: restore the Explore query specs, panel refresh times out on Cloud
  tests/panel-edit.spec.ts
  tests/query-editor.spec.ts
Due: frontend-lint

chore(security): bump fast-uri and immutable
  package-lock.json
  package.json
Due: none

chore(security): drop fast-uri override and align immutable with Grafana
  package-lock.json
  package.json
Due: none

chore(security): bump fast-uri and immutable (#728)
  package-lock.json
  package.json
Due: none

Prepare release 2.17.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(e2e): stabilize scheduled Cloud tests (#726)
  .github/workflows/cron.yml
  package-lock.json
  package.json
  tests/config-editor.spec.ts
  tests/panel-edit.spec.ts
  tests/query-editor.spec.ts
Due: frontend-lint

Add #726 to the 2.17.2 changelog
  CHANGELOG.md
Due: none

Release 2.17.2 (#729)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

go mod tidy x2
  go.mod
  go.sum
Due: none

add new fields to dsconfig json
  pkg/schema/dsconfig.json
  pkg/schema/schema.gen.json
  pkg/schema/settings.gen.json
Due: none

removes additional instructions
  pkg/schema/dsconfig.json
Due: none

fix assumeARN role casing
  pkg/schema/dsconfig.json
  pkg/schema/dsconfig_test.go
Due: backend-format

bump dsconfig
  go.mod
  go.sum
Due: none

regenerate artifacts and bump indirect dsconfig version
  go.mod
  go.sum
  pkg/schema/schema.gen.json
  pkg/schema/settings.gen.json
Due: none

make descriptions more concise
  pkg/schema/dsconfig.json
  pkg/schema/schema.gen.json
  pkg/schema/settings.gen.json
Due: none

remove exclusion and field for assumRoleArn
  pkg/schema/dsconfig.json
  pkg/schema/schema.gen.json
  pkg/schema/settings.gen.json
Due: none

adds dsconfig schema (#700)
  CONTRIBUTING.md
  cspell.config.json
  go.mod
  go.sum
  package.json
  pkg/schema/dsconfig.json
  pkg/schema/dsconfig_test.go
  pkg/schema/schema.gen.json
  pkg/schema/settings.examples.gen.json
  pkg/schema/settings.gen.json
  webpack.config.ts
Due: frontend-lint, backend-format

fix(deps): resolve CVEs in npm dependencies
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(deps): resolve CVEs in npm dependencies (#731)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: use the server-minted Grafana Assume Role external ID
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add standard PR template
  .github/pull_request_template.md
Due: none

Fixed CVEs
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fixed CVEs (#734)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Removed stale overrides from package.json
  package-lock.json
  package.json
Due: none

Removed stale overrides from package.json (#735)
  package-lock.json
  package.json
Due: none

Update PR template (#733)
  .github/pull_request_template.md
Due: none
