Repository grafana/x-ray-datasource: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, backend-format

frontend-lint:
  run: 'eslint --cache --ignore-path ./.gitignore --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '
  stage_fixed: true

backend-format:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

Remove Group variable until it is properly supported
  src/components/VariableEditor.tsx
Due: frontend-lint

fix tests
  src/components/VariableEditor.tsx
Due: frontend-lint

Remove Group variable until it is properly supported (#378)
  src/components/VariableEditor.tsx
Due: frontend-lint

use json.marshal for attribute
  pkg/datasource/listServices.go
Due: backend-format

Service Queries: Update queries to return dimensions correctly (#376)
  pkg/datasource/datasource_test.go
  pkg/datasource/listServiceDependencies.go
  pkg/datasource/listServiceOperations.go
  pkg/datasource/listServices.go
Due: backend-format

Remove pr_commands
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
Due: none

Remove pr_commands (#379)
  .github/pr-commands.json
  .github/workflows/pr-commands.yml
Due: none

add aws feedback updates
  pkg/datasource/getAccounts.go
  pkg/datasource/getServiceMap.go
  pkg/datasource/getServices.go
  pkg/datasource/listServiceLevelObjectives.go
  pkg/datasource/listServices.go
  src/dashboards/xray-app-signals.json
  src/variables.ts
Due: frontend-lint, backend-format

Add app signals dashboard
  pkg/datasource/getOperations.go
  src/dashboards/xray-app-signals.json
  src/plugin.json
Due: backend-format

Update docs for Application Signals services
  README.md
Due: none

Rename plugin from X-Ray to App Signals
  README.md
  package.json
  src/plugin.json
Due: none

exclude grafana dependencies from cooldown
  .github/dependabot.yml
Due: none

add cooldown for github actions ecosystem
  .github/dependabot.yml
Due: none

Add support for auto-merging dependabot updates,
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/e2e-tests.yml
  package.json
  yarn.lock
Due: none

Add support for auto-merging dependabot updates, (#371)
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/e2e-tests.yml
  package.json
  yarn.lock
Due: none

Update src/plugin.json
  src/plugin.json
Due: none

Kevin and Larissa feedback
  README.md
Due: none

Rename plugin from X-Ray to App Signals (#384)
  README.md
  package.json
  src/plugin.json
Due: none

update text for zoey feedback
  src/dashboards/xray-app-signals.json
Due: none

Add app signals services dashboard (#380)
  pkg/datasource/getAccounts.go
  pkg/datasource/getOperations.go
  pkg/datasource/getServiceMap.go
  pkg/datasource/getServices.go
  pkg/datasource/listServiceLevelObjectives.go
  pkg/datasource/listServices.go
  src/dashboards/xray-app-signals.json
  src/plugin.json
  src/variables.ts
Due: frontend-lint, backend-format

Larissa comments
  README.md
Due: none

Update README.md
  README.md
Due: none

Update docs for Application Signals services (#382)
  README.md
Due: none

remove @types/glob
  package.json
  yarn.lock
Due: none

Remove sessioncache
  pkg/client/client.go
  pkg/datasource/CheckHealth.go
  pkg/datasource/datasource.go
  pkg/datasource/datasource_test.go
  pkg/datasource/getAnalytics_test.go
Due: backend-format

Cleanup the remaining X-rays
  README.md
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/XrayLinks.tsx
Due: frontend-lint

fix test
  src/components/QueryEditor/QueryEditor.test.tsx
Due: frontend-lint

Cleanup the remaining X-rays (#411)
  README.md
  src/components/QueryEditor/QueryEditor.test.tsx
  src/components/QueryEditor/QueryHeader.tsx
  src/components/QueryEditor/XrayLinks.tsx
Due: frontend-lint

Prepare release for 2.16.0
  CHANGELOG.md
  package.json
Due: none

Release v2.16.0 (#417)
  CHANGELOG.md
  package.json
Due: none

Use e2e from ci
  .github/workflows/e2e-tests.yml
  .github/workflows/publish.yml
  .github/workflows/push.yml
Due: none

Update grafan version
  src/plugin.json
Due: none

Chore: Use CI/CD actions for e2e and update grafana version in plugin.json (#421)
  .github/workflows/e2e-tests.yml
  .github/workflows/publish.yml
  .github/workflows/push.yml
  src/plugin.json
Due: none

Update docs
  CONTRIBUTING.md
  README.md
Due: none

Chore: Update contributing and readme (#422)
  CONTRIBUTING.md
  README.md
Due: none

downstream error on unexpected query type
  pkg/datasource/datasource.go
Due: backend-format

Path conditions:
  frontend-lint: any of: *.{js,ts,tsx}
  backend-format: any of: *pkg/**/*.go
